{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About {{restaurant.name}} </title>
</head>
<body style="font-family: Arial, sans-serif; background:3f7f8fa; margin:0;">

    <!-- Header / Navigation -->

    <header style="background:@4f46e5; color:white; pading:1rem; text-align:center;">
        <nav>
            <a href="/" style="color:white; margin-right:15px; text-decoration:none;">Home</a>
            <a href="/about" style="color:white; text-decoration:none">About </a>
        </nav>
    </header>

    <!-- Content -->

    <main style="max-width:900px; margin:2rem auto; padding:1rem; background:white; border-radius:12px; box-shadow:0 2px 8px rgba(0,0,0,0.1)">
        <h1 style="color:#4f46e5">About {{ restaurant.name }}</h1>
        <p style="line-height:1.6; font-size:1.1rem;">
            {{restaurant.description }}
        </p>
        {% if restaurant.image %}
            <img src"{{ restaurant.image.url}}" alt="{{restaurant.name}}" style="max-width:100%; border-radius:12px; margin-top:1rem;">
        {% else %}
            <img src="{% static 'images/default-restaurant.jpg'%}" alt="{{restaurant.name }}" style="max-width:100%; border-radius:12px; margin-top:1rem;">

        {{% endif %}}
    </main>


    <!-- Footer -->

    <footer style="background:#1f2937; color:#ccc; text-align:center; padding:1rem; margin-top:2rem;">
        &copy {{restaurant.name }} - All Rights Reserved.
    </footer>
</body>
</html>


